@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Update Category Page</h2>
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Category Id")
        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Category Name")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("Category Description")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /> <br />
        @Html.Label("Category Status")
        @Html.RadioButtonFor(x => x.CategoryStatus, "True") @Html.Label("True")
        @Html.RadioButtonFor(x => x.CategoryStatus, "False") @Html.Label("False")
        <button class="btn btn-succes">Güncelle</button>
    </div>
    @*<div class="form-group d-flex justify-content-center">
        <div class="row">
            <br /> <br />
            <div class="col-6">
                <label for="CategoryName" class="form-label">CategoryName</label>
                <input type="text" class="form-control" id="CategoryName" name="CategoryName" value="@Model.CategoryName">
            </div>
            <br /> <br />
            <div class="col-6">
                <div class="col-6 mx-auto">
                    <label class="form-label">Category Status</label>
                    <br />
                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="CategoryStatus" id="CategoryStatus" value="True">
                            <label class="form-check-label" for="CategoryStatus">
                                True
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="CategoryStatus" id="CategoryStatus" value="True">
                            <label class="form-check-label" for="CategoryStatus">
                                False
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br /> <br />
            <label for="CategoryDescription" class="form-label">Category Description</label>
            <input type="text" class="form-control" id="CategoryDescription" name="CategoryDescription" value="@Model.CategoryDescription">

        </div>

    </div>
    <br />
    <br />
    <button class="btn btn-success">Save</button>*@
}

